@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

.cover {
	position: relative;
	background: url('../images/mainbg.jpg') center center no-repeat fixed;
	background-size: cover;
	position: relative;
}

.cover-block {
	background-color: rgba(177,158,158,0.5);
	height: 100%;
}

.header {
	width: 100%;
	background-color: #946677;
	overflow: hidden;
	height: 80px;
	position: fixed;
	z-index: 1000;
}

.logo {
	float: left;
	margin-top: 14px;
}

.logo a {
	display: block;
}

.header-nav {
	float: right;
	list-style-type: none;
	line-height: 80px;
	margin-bottom: 0;

}

.header-nav li {
	padding-left: 20px;
	font-size: 18px;
	float: left;
	text-decoration: none;

}
.header-nav li a{
	color: black;
	transition: all .5s ease;

}

.header-nav li a:hover {
	text-decoration: none;
	color: white;
}

.active {
	text-decoration: none;
	color: red;
}

.main {
	padding: 350px 0;

}

.main-title {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 30px;
	text-align: center;

}

.main-text {
	font-size: 20px;
	font-family: 'Tangerine', cursive;
	color: black;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
}

.info {
	padding: 100px 0;
}
.title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
	letter-spacing: 5px;
	font-size: 30px;
	
}

.info-block {
	width: 100%;
}

.info-block-left {
	width: 50%;
	float: left;
	border-right: 2px dashed #946677;
	padding-right: 20px;
}

.info-block-right {
	width: 50%;
	float: right;
	padding-left: 20px;
}

.info-block__left_top {
	
}
.info-block__left_bottom {
	margin-top: 40px;
}
.info-block__right_top {
	margin-top: 70px;
}

.item-left {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #946677;
	line-height: 100px;
	display: inline-block;
}

.item-right {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #946677;
	line-height: 100px;
	display: inline-block;
}

.fa-info {
	font-size: 35px;
	margin: 0 auto;
	color: #946677;
}

.info-text-left {
	display: inline-block;
	width: 400px;
	margin-right: 20px;
	vertical-align: middle;
	margin-bottom: 0;
	text-align: right;
	margin-top: 9px;
}

.info-text-right {
	display: inline-block;
	width: 400px;
	margin-left: 20px;
	vertical-align: middle;
	margin-bottom: 0;
}

.partners {
	padding: 100px;
}

.slick-dots li {
	color: black;
}

.slick-dots li button::before {
	font-size: 30px;
	content: '-';
}

.slide-picture {
	margin: 0 auto;
	cursor: pointer;
}


.slick-arrow::before {
	color: #946677;
	font-size: 18px;

}

.slick-prev::before {
	content: '\f0a8';
	font-family: 'fontAwesome';
	font-size: 20px;

}
.slick-next::before{
	content: '\f0a9';
	font-family: 'fontAwesome';
	font-size: 20px;
	
}

.contact {
	padding: 100px;
}

.map {
	height: 300px;
	width: 100%;
}

.contact-form {
	text-align: center;
}

.input-text {
	width: 100%;
	border-radius: 5px;
	outline: none;
	border-style: none;
	border: 1px solid #946677;
	padding: 5px;
}
.input-email {
	width: 100%;
	border-radius: 5px;
	outline: none;
	border-style: none;
	border: 1px solid #946677;
	padding: 5px;
	margin-top: 11px;
}

.textarea {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 5px;
	outline: none;
	border-style: none;
	border: 1px solid #946677;
	padding: 5px;
	min-height: 205px;
	max-height: 205px;
	resize: none;
	margin-top: 11px;

}

.contact-button {
	display: block;
	float: right;
	padding: 3px 25px;
	background-color: #946677;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all .5s ease;

}
.contact-button:focus {
	outline: none;
}

.contact-button:hover {
	color: white;
	background-color: #5a414b;
}
.galery {
	padding: 100px;
}

.galery-image {
	display: inline-block;
	margin: 5px;
}

.galery-item-img {
	width: 300px;	
	height: 200px;
}

.nav {
	padding-bottom: 30px;
	border-bottom: none;
}

.nav-item {
	flex: none!important;
	margin: 0 5px;
}

.nav li {

}
.nav li a {
	color: black;
	height: 30px;
	width: 60px;
	background-color: #946677;
	display: inline-block;
	border-radius: 5px;
	transition: all .5s ease;
}

.nav li a:hover {
	background-color: #5a414b;
	color: white;
	text-decoration: none;
}

.nav li a:focus {
	background-color: #5a414b;
	color: white;
	text-decoration: none;
}

.footer {
	background-color: #946677;
	padding: 30px 0;
}

.soc-block .fa{
	margin-right: 10px;
	font-size: 25px;
	cursor: pointer;
	transition: all .5s ease;
}

.soc-block .fa:hover {
	color: white;
}

.back-top {
	position: fixed;
	top: 80%;
	right: 5%;
	cursor: pointer;
}

/*Media queries*/

@media (max-width: 575px) {
	.header-nav {
		display: none;
	}
	.main {
		padding: 150px 0;
	}
	.main-title {
		font-size: 20px;
	}

	.main-text {
		font-size: 16px;
	}

	.info {
		padding: 0;
	}

	.title {
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.info-block-left {
		width: 100%;
		float:none;
		border-right: none;
		padding-right: 0;

	}
	.info-block-right {
		width: 100%;
		float:none;
		padding-left: 0;
	}

	.item-left {
		float: none!important;
	}

	.info-text-left {
		width: auto;
		text-align: left;
		margin-right: 0;
		
	}

	.info-text-right {
		width: auto;
		margin-left: 0;
		
	}
	.partners {
		padding: 0;
	}
	.galery {
		padding: 0;
	}
	.contact {
		padding: 0;
	}

	.galery-item-img {
		width: 250px;	
		height: 150px;
	}

	.mfp-img {
		height: auto!important;
	}

	.slick-prev::before {
		margin-right: -50px;
	}
	.slick-next::before{
		margin-left: -50px;
	}

	.input-text {
		margin-top: 20px;
	}

	.footer {
		margin-top: 20px;i
	}

}

@media (max-width: 767px) {
	.info-block-left {
		width: 100%;
		float:none;
		border-right: none;
		padding-right: 0;
	}

	.info-block-right {
		width: 100%;
		float:none;
		padding-left: 0;
	}

	.item-left {
		float: none!important;
	}

	.info-text-left {
		width: auto;
		text-align: left;
		margin-right: 0;
	}

	.info-text-right {
		width: auto;
		margin-left: 0; 
	}

	.partners {
		padding: 0;
	}

	.galery {
		padding-top: 20px;
		padding-bottom: 0;
	}

	.contact {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.title {
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.input-text {
		margin-top: 20px;
	}
	.mfp-img {
		height: auto!important;
	}

}

@media (max-width: 991px)  {
	.info-block-left {
		width: 100%;
		float:none;
		border-right: none;
		padding-right: 0;
	}

	.info-block-right {
		width: 100%;
		float:none;
		padding-left: 0;
	}

	.item-left {
		float: none!important;
	}

	.info-text-left {
		width: auto;
		text-align: left;
		margin-right: 0;	
	}

	.info-text-right {
		width: auto;
		margin-left: 0; 	
	}
	.mfp-img {
		height: auto!important;
	}

	.partners {
		padding: 0;
	}

	.galery {
		padding-top: 20px;
		padding-bottom: 0;
	}

	.contact {
		padding:20px 0;
	}

	.contact-form {
		margin-top: 20px;
	}

	.title {
		margin-bottom: 20px;
	}

}

@media (min-width: 991px) and (max-width: 1200px) {
	.info-text-left {
		width: 300px;
	}

	.info-text-right {
		width: 300px;
	}
}